.header {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.display {
  display: inline-block;
  background-color: black;
  color: red;
  font-size: 20px;
}
